body{
    margin: 0;
    padding: 0;
    text-align:center;
    font-size:small;
}

#wrapper{
    text-align:center;
    min-width: 600px;
    width:70em;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

#main{
    text-align:left;
}
/* NAVIGATION */
nav{
    padding: 1em;
}
nav ul{
    list-style-type: none;
}

nav ul li{
    float:left;
    padding-right:3em;
}

nav::after{
    content:".";
    display: block;
    clear:both;
    visibility: hidden;
    padding-bottom:1em;
}

/* HEADER */
#wrapper > header {
    font-size: x-large;
    color: blue;
    margin-bottom:0;
    padding-bottom:0;
}
#wrapper > header h1 {
    font-family: 'Monoton', cursive;
}

#main{
    margin: 0;
}

/* SECTION */
section{
    background-color:#b5facc;
    border: 1px solid black;
    margin-bottom:4em;
    padding: 1em;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
}